<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="securitySettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  
  <securitySettings>
    <add key="MaxLoginAttempts" value="5" />
    <add key="LockoutDuration" value="15" />
    <add key="PasswordComplexityRegex" value="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&amp;])[A-Za-z\d@$!%*#?&amp;]{8,}$" />
    <add key="EnableCSRFProtection" value="true" />
    <add key="CSRFTokenTimeout" value="20" />
  </securitySettings>
  
  <system.web>
    <compilation debug="false" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" 
                 enableVersionHeader="false"
                 maxRequestLength="4096"
                 executionTimeout="110"
                 requestValidationMode="4.5"
                 enableHeaderChecking="true"
                 encoderType="System.Web.Security.AntiXss.AntiXssEncoder"
                 maxQueryStringLength="2048"
                 maxUrlLength="2048"
                 enableKernelOutputCache="false"
                 relaxedUrlToFileSystemMapping="false" />
                 
    <httpCookies httpOnlyCookies="true" requireSSL="true" sameSite="Strict" />
    
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx"
             timeout="20"
             requireSSL="true"
             slidingExpiration="true"
             protection="All"
             cookieless="UseCookies"
             enableCrossAppRedirects="false"
             defaultUrl="~/Main.aspx">
        <credentials passwordFormat="Hashed" />
      </forms>
    </authentication>
    
    <authorization>
      <deny users="?" />
    </authorization>
    
    <sessionState mode="InProc"
                  timeout="20"
                  cookieless="UseCookies"
                  cookieName="SessionId"
                  regenerateExpiredSessionId="true">
      <providers>
        <clear/>
      </providers>
    </sessionState>
    
    <customErrors mode="On" defaultRedirect="~/Error.aspx">
      <error statusCode="404" redirect="~/404.aspx"/>
      <error statusCode="500" redirect="~/500.aspx"/>
    </customErrors>
    
    <pages validateRequest="true"
           enableEventValidation="true"
           viewStateEncryptionMode="Always"
           enableViewStateMac="true" />
           
    <machineKey validationKey="AutoGenerate,IsolateApps"
                decryptionKey="AutoGenerate,IsolateApps"
                validation="HMACSHA512"
                decryption="AES" />
                
    <securityPolicy>
      <trustLevel name="Full" policyFile="internal" />
    </securityPolicy>
  </system.web>
  
  <system.webServer>
    <security>
      <requestFiltering removeServerHeader="true">
        <verbs allowUnlisted="false">
          <add verb="GET" allowed="true"/>
          <add verb="POST" allowed="true"/>
          <add verb="HEAD" allowed="true"/>
        </verbs>
        <requestLimits maxAllowedContentLength="4194304"
                      maxUrl="2048"
                      maxQueryString="2048" />
        <hiddenSegments>
          <add segment="web.config"/>
          <add segment="bin"/>
          <add segment="App_code"/>
          <add segment="App_GlobalResources"/>
          <add segment="App_LocalResources"/>
          <add segment="App_WebReferences"/>
          <add segment="App_Data"/>
          <add segment="App_Browsers"/>
        </hiddenSegments>
        <fileExtensions allowUnlisted="false">
          <add fileExtension=".aspx" allowed="true" />
          <add fileExtension=".css" allowed="true" />
          <add fileExtension=".js" allowed="true" />
          <add fileExtension=".png" allowed="true" />
          <add fileExtension=".jpg" allowed="true" />
          <add fileExtension=".gif" allowed="true" />
          <add fileExtension=".ico" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
    
    <httpProtocol>
      <customHeaders>
        <clear />
        <remove name="X-Powered-By"/>
        <remove name="Server"/>
        <remove name="X-AspNet-Version"/>
        <add name="X-Frame-Options" value="DENY"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="X-XSS-Protection" value="1; mode=block"/>
        <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' 'nonce-{nonce}' https://maps.google.com; style-src 'self' 'unsafe-inline'; img-src 'self' data: https:; connect-src 'self'; form-action 'self'; frame-ancestors 'none'; base-uri 'self'; upgrade-insecure-requests; block-all-mixed-content"/>
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload"/>
        <add name="Cache-Control" value="no-store, no-cache, must-revalidate, proxy-revalidate"/>
        <add name="Pragma" value="no-cache"/>
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin"/>
        <add name="Feature-Policy" value="camera 'none'; microphone 'none'; geolocation 'self'"/>
        <add name="Permissions-Policy" value="camera=(), microphone=(), geolocation=(self)"/>
        <add name="Cross-Origin-Embedder-Policy" value="require-corp"/>
        <add name="Cross-Origin-Opener-Policy" value="same-origin"/>
        <add name="Cross-Origin-Resource-Policy" value="same-origin"/>
      </customHeaders>
    </httpProtocol>
    
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Add SameSite" preCondition="No SameSite">
          <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" negate="false" />
          <action type="Rewrite" value="{R:0}; SameSite=Strict" />
        </rule>
        <preConditions>
          <preCondition name="No SameSite">
            <add input="{RESPONSE_Set_Cookie}" pattern="." />
            <add input="{RESPONSE_Set_Cookie}" pattern="; SameSite=Strict" negate="true" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
  </system.webServer>
  
  <location path="bin">
    <system.web>
      <authorization>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="App_Data">
    <system.web>
      <authorization>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>